<!doctype html>
<html ng-app="myApp">
<head>
  <title>My Shopping Cart</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div ng-controller="shoppingController">
    <header> <img id="centerImg" src="/img/cart1.png" alt = "My Image">  </header>
    <div id="banner">
      <div id="title">My Store</div>
      <div id="bar" ng-show="showAccount">
        <span id="cartLink"  ng-click="setContent('cart.html')">
            {{cartTotal}} items
            <img src="/img/cart.png" />
        </span>
        <button class="btn btn-warning" ng-click="logoutSubmit()">{{logout}}</button>
        <button ng-show ="userAccountBtn" ng-click = "displayAccount()">{{userName}}'s Account </button>
        <button ng-hide="hideShoppingButton" ng-click = "content='/products.html'">Shopping </button>
      </div>
    </div>
    <div id="main">
      <div ng-include="content"></div>
    </div>
  </div>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/productService.js"></script>
  <script src="/javascripts/authorizeService.js"></script>
  <script src="/javascripts/adminService.js"></script>
  <script src="/javascripts/service.js"></script>
</body>
</html>