<h3> Welcome to my shopping cart - Please Login</h3>
<table class="table table-condensed">
    <tbody>
        <tr>
            <td>User Name: </td>
            <td>
                <input type ="text" ng-model= "$parent.userName">
            </td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>
                <input type = "password" ng-model= "$parent.password"> 
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td> 
                <input type = "button" value ="Login" class="btn btn-success" ng-click ="login()">
                <input type = "button" value = "Register" class="btn btn-success" ng-click = "register()">  
            </td>  
        </tr>  
    </tfoot>
</table> 

